<section class="reviews" id="reviews">
    <div class="reviews-rating">
      <img src="./assets/img/rating.svg" alt="" class="reviews-stars" />
      <span class="reviews-score">4.9</span>
    </div>
    <h2 class="section-title">{{fields.reviews_title}}</h2>
    <div class="reviews-cards">
      <div class="reviews-cards-row">
        <div class="reviews-cards-slide">
          <a href="" class="reviews-card">
            <div class="reviews-card-stars">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
            <h3 class="reviews-card-title">Review Title Goes Here</h3>
            <p class="reviews-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit</p>
            <span class="reviews-card-name">- Reviewer Name</span>
          </a>
          <a href="" class="reviews-card">
            <div class="reviews-card-stars">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
            <h3 class="reviews-card-title">Review Title Goes Here</h3>
            <p class="reviews-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit</p>
            <span class="reviews-card-name">- Reviewer Name</span>
          </a>
          <a href="" class="reviews-card">
            <div class="reviews-card-stars">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
            <h3 class="reviews-card-title">Review Title Goes Here</h3>
            <p class="reviews-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit</p>
            <span class="reviews-card-name">- Reviewer Name</span>
          </a>
          <a href="" class="reviews-card">
            <div class="reviews-card-stars">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
            <h3 class="reviews-card-title">Review Title Goes Here</h3>
            <p class="reviews-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit</p>
            <span class="reviews-card-name">- Reviewer Name</span>
          </a>
          <a href="" class="reviews-card">
            <div class="reviews-card-stars">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
            <h3 class="reviews-card-title">Review Title Goes Here</h3>
            <p class="reviews-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit</p>
            <span class="reviews-card-name">- Reviewer Name</span>
          </a>
        </div>
      </div>
      <div class="reviews-cards-row">
        <div class="reviews-cards-slide">
          <a href="" class="reviews-card">
            <div class="reviews-card-stars">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
            <h3 class="reviews-card-title">Review Title Goes Here</h3>
            <p class="reviews-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit</p>
            <span class="reviews-card-name">- Reviewer Name</span>
          </a>
          <a href="" class="reviews-card">
            <div class="reviews-card-stars">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
            <h3 class="reviews-card-title">Review Title Goes Here</h3>
            <p class="reviews-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit</p>
            <span class="reviews-card-name">- Reviewer Name</span>
          </a>
          <a href="" class="reviews-card">
            <div class="reviews-card-stars">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
            <h3 class="reviews-card-title">Review Title Goes Here</h3>
            <p class="reviews-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit</p>
            <span class="reviews-card-name">- Reviewer Name</span>
          </a>
          <a href="" class="reviews-card">
            <div class="reviews-card-stars">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
            <h3 class="reviews-card-title">Review Title Goes Here</h3>
            <p class="reviews-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit</p>
            <span class="reviews-card-name">- Reviewer Name</span>
          </a>
          <a href="" class="reviews-card">
            <div class="reviews-card-stars">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
            <h3 class="reviews-card-title">Review Title Goes Here</h3>
            <p class="reviews-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit</p>
            <span class="reviews-card-name">- Reviewer Name</span>
          </a>
        </div>
      </div>
    </div>
  </section>